@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('fonts/Open-Sans-italic/Open-Sans-italic.eot');
  src: url('fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('fonts/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
       url('fonts/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
       url('fonts/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
       url('fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans') format('svg');
}

body {font-family: "Open Sans"; padding-top: 8%;}
.login .login-panel {margin-top: 0;}
.login .login-logo {text-align: center; margin-bottom: 20px;}
.login a {color: #999; text-decoration: none;}
.login a:active, .login a:hover {color: #2ea2cc;}